@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    font-weight: 700;
    color:whitesmoke;
   font-family: 'Roboto', sans-serif;
}
  .App {
    text-align: center;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    color: black;
    background-color:white;
    background-image: url(./img/homepage.jpg);
    background-size: cover;
    background-repeat: no-repeat; 
  }
  
  
  .auth-form-container, .login-form, .register-form {
    display: flex;
    flex-direction: column;
  }
  
  @media screen and (min-width: 600px) {
    .auth-form-container {
      padding: 5rem;
      border: 1px solid white;
      border-radius: 10px;
      margin: 0.5rem;
    }
  }

  
  

.label-auth{
  text-align: left;
  padding: 0.25rem 0;
}

  
.input-auth {
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
}

.button-auth {
  border: none;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  color: #7439db;
}
#email, #password, #name {
  color: black;
}
  
.link-btn {
  border: none;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  color: #7439db;
  background: none;
  color: white;
  text-decoration: underline;
}
